@use "./variables" as var;
@use "./mixins" as mix;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: var.$color-bg;
  color: var.$color-text;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
  background-color: var.$color-white;
}

.site-header {
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(
    135deg,
    var.$color-secondary,
    var.$color-primary
  );

  .logo {
    margin: 0;
  }

  .nav {
    margin-top: 1rem;
  
    .nav-ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      gap: 1.5rem;

      li {
        a {
          text-decoration: none;
          color: var.$color-white;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
            color: var.$color-accent-mint;
          }
        }
      }
    }
  }
}

.hero {
  margin-top: 1rem;

  &-img {
    width: 100%;
    display: block;
    border-radius: 1rem;
  }

  &-content {
    padding: 1rem 0;
  }
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem
}

.featured-img:nth-child(3n + 1) {
  grid-column: span 2;
  aspect-ratio: 16 / 9;
}

.featured-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  margin-top: 0.75rem;
  border-radius: 0.75rem;
}

@media (min-width: 620px) {
  .featured-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .featured-img:nth-child(3n + 1) {
    grid-column: span 1;
    aspect-ratio: 1 / 1;
  }
}

.logo {
  font-size: clamp(2.8rem, 5vw, 4rem);
  margin: 0;

  @include mix.sassy-logo(var.$color-mint, var.$color-purple);
}

