@use "./variables" as var;

/* Grundinställning av "kort": gemensam padding + rundade hörn */
%card {
  border-radius: 1rem;
  padding: 1rem;
}

/* Regnbågslinje före rubrik/sektion */
%rainbow-divider-before {
    position: relative;
    padding-top: 1.5rem;
    margin-top: 2.5rem;

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 70%;
        height: 4px;
        border-radius: 999px;

        background: linear-gradient(90deg,
                var.$color-purple,
                var.$dark-pink,
                var.$color-mint);
    }
}

/* Regnbågslinje före rubrik/sektion */
%rainbow-divider-after {
    position: relative;
    padding-bottom: 1.5rem;
    margin-bottom: 0.5rem;

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0.5rem;
        transform: translateX(-50%);
        width: 70%;
        height: 4px;
        border-radius: 999px;

        background: linear-gradient(90deg,
                var.$color-purple,
                var.$dark-pink,
                var.$color-mint);
    }
}